.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  justify-items: space-evenly;
  max-width: 1320px;
  margin: auto;
}

/* .grid {
  display: grid;
  row-gap: 5px;
  width: 900px;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20px;
  margin: auto;
  justify-items: center;
  grid-auto-flow: dense;
}  */

.unsplashImage {
margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 416px;
}