.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  justify-items: space-evenly;
  max-width: 1320px;
  margin: auto;
  overflow-y: auto;
}

.unsplashImage {
margin-bottom: 24px;
width: 100%;
box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 416px;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px,1fr));
  gap: 24px;
  max-width: 1320px;
  margin: auto;
}