.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: space-evenly;
  width: 1000px;
  margin: auto;
}

/* .grid {
  display: grid;
  row-gap: 5px;
  width: 900px;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20px;
  margin: auto;
  justify-items: center;
  grid-auto-flow: dense;
}  */

.container {
  display: flex;
  flex-direction: column;
}

.test {
  margin-bottom: 10px;
}

.test1 {
  background-color: violet;
  border: 1px solid black;
}

.test2 {
  background-color: purple;
  border: 2px solid black;
}

.test3 {
  background-color: blueviolet;
  border: 2px solid black;
}

.test4 {
  background-color: darkred;
  border: 1px solid black;
}
